<div class="card mat-elevation-z4">
  @if (genre; as genre) {
    <div>
      <div
        [title]="'Go to genre: ' + genre.value"
        [routerLink]="'/genre/' + genre.encodedValue"
        class="clickable"
      >
        <div class="split">
          <div class="single-container">
            <img
              [ngSrc]="genre.coverArtUrls[0]"
              alt=""
              class="single-img"
              crossorigin="anonymous"
              height="300"
              loading="lazy"
              width="300"
            />
          </div>
        </div>
        <div class="split">
          <div class="stacked-container">
            @for (coverArtUrl of genre.coverArtUrls.slice(1); track
              $index) {
              <img
                [ngSrc]="coverArtUrl"
                alt=""
                class="stacked-img"
                crossorigin="anonymous"
                height="300"
                loading="lazy"
                width="300"
              />
            }
          </div>
        </div>
      </div>
      @if (genre.value) {
        <div
          title="Play random songs by genre"
          (click)="playRandomByGenre(genre.value)"
          class="album-overlay clickable"
          style="bottom: 50px"
        >
          <mat-icon [color]="'primary'" class="play-card">play_arrow</mat-icon>
        </div>
      }
    </div>
    <div class="card-body">
      <div [title]="genre.value || 'No genre'" class="title">
        {{ genre.value || "No genre" }}
      </div>
    </div>
  }
</div>
