<div class="card mat-elevation-z4">
  @if (album(); as album) {
    <div class="album-box clickable">
      <div class="album">
        <div [routerLink]="'/album/' + album.id" class="album-container">
          <img
            [ngSrc]="album.coverArtUrl"
            [title]="'Go to album: ' + album.name"
            alt=""
            class="img-responsive"
            crossorigin="anonymous"
            height="300"
            loading="lazy"
            width="300"
          />
        </div>
        <div
          title="Play songs in album"
          (click)="playAlbum(album.id)"
          class="album-overlay clickable"
        >
          <mat-icon [color]="'primary'" class="play-card">play_arrow</mat-icon>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div [title]="album.name" class="title">{{ album.name }}</div>
      <div
        [routerLink]="'/artist/' + album.artistId"
        [title]="album.artist"
        class="title subtitle link"
      >
        {{ album.artist }}
      </div>
    </div>
  }
</div>
