<div class="card mat-elevation-z4">
  @if (artist; as artist) {
    <div class="artist-box clickable">
      <div class="artist">
        <div [routerLink]="'/artist/' + artist.id" class="artist-container">
          @for (coverArt of artist.coverArtUrls; track $index) {
            <img
              [src]="coverArt"
              [title]="'Go to artist: ' + artist.name"
              alt=""
              class="img-responsive"
              crossorigin="anonymous"
              height="300"
              loading="lazy"
              width="300"
            />
          }
        </div>
        <div
          title="Play songs by artist"
          (click)="playArtist(artist)"
          class="album-overlay clickable"
        >
          <mat-icon [color]="'primary'" class="play-card">play_arrow</mat-icon>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div [title]="artist.name" class="title">{{ artist.name }}</div>
    </div>
  }
</div>
